DATABASE_URL=mysql://roommates:roommates_password@db:3306/roommates
OIDC_ENABLED=true
OIDC_CLIENT_ID=app
OIDC_CLIENT_SECRET=bCRV37ht5sACdcBeSemiXiu2Zqbn7Uj8
OIDC_ISSUER_URL=http://auth.roommates.local/realms/roommates
SERVER_URL=http://roommates.local
SIGNUP_ENABLED=1
