@import "tailwindcss";

@source "./src/**/*.{rs,html,css}";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

.input:has(input[required]) > .label::after {
    @apply text-error;
    content: "*";
}
